@media ( width >= 768px ){
    .bt1{
        margin: 16px 16px 0 460px;
    }
    .gogo{
        display: none;
    }
    .tab{
        display: block;
        margin-bottom: 100%;
        transform: translateY(-20%);
        padding: 0;
    }
    .max{
        color: var(--13183F, #13183F);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 326px;
    }
    .our{
        color: var(--83869A, #83869A);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        width: 398px;
    }
    .box{
        margin: 210px 0 0 15px;
        width: 339px;
        height: 259px;
        padding: 56px 21px 139px 32px;
    }
    .skilled2{
        color: var(--FFFFFF, #FFF);
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin: 43px 460px 42px 40px;
    }
    .baro{
        display: grid;
        grid-template-columns: auto auto;
    }
    footer{
        margin-top: 86px;
    }
    .sect2, .sect3, .sect4, .sect5{
        width: 339px;
        height: 259px;
        border-radius: 10px;
        background: var(--FFFFFF, #FFF);
        box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);        
        margin: 40px 16px 0 16px;
    }
    .sect12{
        width: 340px;
        height: 259px;
        flex-shrink: 0;
        border-radius: 10px;
        background: var(--FFFFFF, #FFF);
        box-shadow: 0px 25px 50px 0px rgba(6, 22, 141, 0.04);        
        margin-top: 200px;
    }
    .texts{
        width: 398px;
        height: 500px;
    }
    .digomi{
        display: flex;
        height: 400px;
    }
}

@media ( width >= 1440px ){
    .baro{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .bt1{
        margin: 16px 16px 0 829px;
    }
    .tab{
        display: none;
    }
    .desk{
        display: block;
        margin-left: 50%;
        margin-bottom: 50%;
        transform: translateY(-45%);
    }
    .sect12, .sect5, .sect3, .sect4{
        width: 350px;
        height: 322px;
    }
    .sect2{
        width: 350px;
        height: 322px;
        margin-top: 193px;
    }
    .max{
        color: var(--13183F, #13183F);
        font-size: 56px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        width: 457px;
    }
    .our{
        color: var(--83869A, #83869A);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px; /* 155.556% */
    }
    .skilled{
        color: var(--13183F, #13183F);
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .check{
        color: var(--FFFFFF, #FFF);
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 40px; /* 125% */
    }
    h6{
        color: var(--13183F, #13183F);
        font-size: 24px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    .learn{
        color: var(--83869A, #83869A);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        width: 286px;
    }
    .skilled2{
        margin: 46px 831px 45px 165px;
    }
    .bt3{
        margin: 32px 165px 32px;
    }
    .skilled{
        margin: 38px 831px 185px 165px;
    }
    .bt1{
        margin: 24px 165px 0 0px;
    }
    .texts{
        padding-left: 165px;
    }
    .baro{
        padding-left: 165px;
    }
}